@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: rgba(148, 208, 217, 0.815);
}

h2{
  margin-top: 5px;
}

h3{
  margin-top: 10px;
}

section{
  border: black solid;
  background-color: white;
  padding: 20px;
}